{##ENLAZADO CON FORMULARIO#}

{% extends 'formulario.html' %}
{% load static %}

{% block controls %}
    <div class="col-md-4">
        <label for="inputAnio" class="form-label">Año</label>
        <input class="form-control" type="text" placeholder="2022" aria-label="Disabled input example" disabled>
    </div>

    <div class="col-md-4">
        <label for="inputDescripcion" class="form-label">Descripcion</label>
        <input class="form-control" type="text" placeholder="Presupuesto del Año 2022" aria-label="Disabled input example" disabled>
    </div>

    <div class="col-md-4">
        <label for="inputEstado" class="form-label">Estado</label>
        <input class="form-control" type="text" placeholder="Activo" aria-label="Disabled input example" disabled>
    </div>


    <br> <h5>RUBROS</h5>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Descripcion</th>
      <th scope="col">Naturaleza</th>
      <th scope="col">Valor Asignado</th>
      <th scope="col">Valor Devengado</th>
      <th scope="col">Diferencia</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Pago de Servicios Basicos</td>
      <td>GASTO</td>
      <td>$1.000,00</td>
      <td>$1.000,00</td>
      <td>$1.000,00</td>
    </tr>
    <tr>
      <td>Alquiler de Oficinas</td>
      <td>INGRESO</td>
      <td>$3.000,00</td>
      <td>$1.000,00</td>
      <td>$1.000,00</td>
    </tr>
    <tr>
      <td>Multas por Retrasos</td>
      <td>INGRESO</td>
      <td>$1.500,00</td>
      <td>$1.000,00</td>
      <td>$1.000,00</td>
    </tr>
    <tr>
      <td>Pago de Horas Extras</td>
      <td>GASTO</td>
      <td>$2.000,00
      <td>$1.000,00</td>
      <td>$1.000,00</td>
    </tr>
    <tr>
      <td>Ventas de Productos</td>
      <td>INGRESO
      <td>$3.200,00</td>
      <td>$1.000,00</td>
      <td>$1.000,00</td>
    </tr>
    <tr>
      <td>Inversiones</td>
      <td>INGRESO</td>
      <td>$5.000,00</td>
      <td>$1.000,00</td>
      <td>$1.000,00</td>
    </tr>
    <tr>
      <td>Servicios Legales</td>
      <td>GASTO</td>
      <td>$1.200,00</td>
      <td>$1.000,00</td>
      <td>$1.000,00</td>
    </tr>
  </tbody>
        <br>
<tfoot>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Total de Ingresos:</b></td>
      <td>$12.700,00</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b>Total de Egresos:</b></td>
      <td>$4.200,00</td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td><b> Diferencia: </b></td>
      <td class="table-success">$8.500,00</td>
    </tr>
</tfoot>
</table>




{% endblock %}

{% block form %}
    <div class="card-footer ">
                <a href="{% url 'listapresupuesto' %}" class="btn btn-primary btn-flat">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save2" viewBox="0 0 16 16">
                      <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v4.5h2a.5.5 0 0 1 .354.854l-2.5 2.5a.5.5 0 0 1-.708 0l-2.5-2.5A.5.5 0 0 1 5.5 6.5h2V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                    </svg> Finalizar Visualizacion
                </a>
    </div>
{% endblock %}
